@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-bg: var(--color-neutral-50);
	--color-card: var(--color-white);
	--color-card-hover: var(--color-indigo-100);
	--color-text: var(--color-neutral-800);
	--color-secondary: var(--color-neutral-200);
	--color-secondary-hover: var(--color-neutral-300);
	--color-secondary-border: var(--color-neutral-400);
	--color-secondary-text: var(--color-neutral-700);
	--color-secondary-dark: var(--color-neutral-800);
	--color-secondary-dark-hover: var(--color-neutral-900);
	--color-border: var(--color-neutral-400);
	--color-text: var(--color-neutral-600);
	--color-dark: var(--color-gray-800);
	--color-dark-hover: var(--color-gray-900);
	--font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
		'Liberation Mono', 'Courier New', monospace;
}

.dark {
	--color-bg: var(--color-gray-950);
	--color-card: var(--color-gray-900);
	--color-card-hover: var(--color-gray-800);
	--color-text: var(--color-gray-100);
	--color-secondary: var(--color-gray-800);
	--color-secondary-hover: var(--color-gray-700);
	--color-secondary-border: var(--color-gray-600);
	--color-secondary-text: var(--color-gray-100);
	--color-border: var(--color-gray-600);
	--color-text: var(--color-gray-200);
	--color-dark: var(--color-gray-950);
	--color-dark-hover: var(--color-gray-800);
}

* {
	scrollbar-width: thin;
}

body {
	transition-property: color, background-color, border-color, fill, stroke;
	transition-duration: 300ms;
	background-color: var(--color-bg);
	color: var(--color-text);
}

/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
*/
